{{ $schema := dict "@context" "https://schema.org" "@type" "WebSite" "name" .Site.Title "url" .Site.BaseURL }}
{{ if .IsPage }}
  {{ $schema = merge $schema (dict "@type" "Article" "headline" .Title "author" (dict "@type" "Person" "name" .Site.Params.author)) }}
  {{ if .Date }}
    {{ $schema = merge $schema (dict "datePublished" (.Date.Format "2006-01-02")) }}
  {{ end }}
  {{ if .Lastmod }}
    {{ $schema = merge $schema (dict "dateModified" (.Lastmod.Format "2006-01-02")) }}
  {{ end }}
{{ end }}
<script type="application/ld+json">
  {{ $schema | jsonify | safeJS }}
</script> 